<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="browser" value="chrome"></parameter>
 <listeners>
 <listener class-name="generateReport.Listeners"></listener>
 </listeners>
  <test thread-count="5" name="Test">
 
    <classes>
    
      <class name="TestScript.LoginTest">     
      <methods>
      
      <include name="verifyTheUserIsAbleToLoginUsingInCorrectUsernameAndCorrectPassword"></include>  <!--  verify.. enn parayunath login test ollile oru method name koduthath ane bcuz aah method matharam run chyn vendi   -->
      															<!--  include use chyunath ath matharam run akollu
      																Exclude - means eth method kodukuno ath ozhukee baki elam run akum	-->
      															
      </methods>
      </class>
      
      <class name="TestScript.AdminTest">
      
      <methods>     
      <include name="adminuserinfo"></include>     
      </methods>   
      </class>  
      
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
